@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

:root {
    --header-bg: #10375C;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: Sora, sans-serif;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background: #2E80CE;
    border-radius: 30px;
    border: 1px solid #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 600;
    color: var(--header-bg);
    letter-spacing: -0.02em;
    color: var(--header-bg);
}

.lv1 {
    font-size: 7rem;
    line-height: 1.14;
    color: #FFFFFF;
}

.lv2 {
    font-size: 50px;
    line-height: 1.2;
}

.desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */
.header {
    background-color: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 0.6em;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    right: 0.3em;
    bottom: 0.3em;
    background: #FFFFFF;
}

.logo__text {
    display: inline-block;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navigation */
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-action__login,
.nav__item .nav__link {
    font-weight: 300;
    line-height: 1.75;
    color: #C9D2DA;
}

.nav__item .nav__link {
    padding: 4px 21px;
}

.nav__item .nav__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}

.nav__item .nav__link--active,
.nav__item .nav__link:hover {
    font-weight: 400;
    color: #FFFFFF;
}

/* Actions */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 28px;
}

.header-action__signup {
    min-width: 104px;
    line-height: 1.75;
    font-size: 1.6rem;
    padding: 8px 20px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    width: 517px;
}

.hero__left--desc {
    margin: 22px 0 38px 0;
    color: #C9D2DA;
}

.hero-contact {
    display: flex;
    align-items: center;
}

.hero-btn {
    padding: 15px 46px;
}

.hero-numberphone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
    margin-left: 38px;
}

.hero__media {
    width: 534px;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.services {
    padding: 170px 0;
}

.services__header {
    text-align: center;
}

.services__header--desc {
    margin-top: 18px;
    max-width: 468px;
    margin: 18px auto 70px;
}

.services__body {
    display: flex;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    margin-right: 130px;
    border-radius: 12px;
}

.services__cards--item {
    display: flex;
    align-items: center;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.services__cards--item:hover {
    position: relative;
    cursor: pointer;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);

}

.services__cards--item:hover .services__icon {
    background: #2E80CE;
    color: #fff;
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
    margin-right: 20px;
}

.service__desc {
    margin-top: 8px;
}

.service__btn {
    width: 205px;
    height: 60px;
    margin-top: 55px;
}

.work {
    padding: 100px 0;
    background: #F6FBFF;
}

.work__desc {
    width: 468px;
    margin-top: 18px;
}

.list-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 44px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: .2s linear;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
}

.work-item__heading {
    color: var(--header-bg);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 18px;
}

.work-item_desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin: 28px 0 18px 0;
}

.work-item__more {
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}