@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

:root {
    --header-bg: #10375C;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: Sora, sans-serif;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background: #2E80CE;
    border-radius: 30px;
    border: 1px solid #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 600;
    color: var(--header-bg);
    letter-spacing: -0.02em;
}

.lv1 {
    font-size: 7rem;
    line-height: 1.14;
    color: #FFFFFF;
}

.desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

/* Header */
.header {
    background-color: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 0.6em;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    right: 0.3em;
    bottom: 0.3em;
    background: #FFFFFF;
}

.logo__text {
    display: inline-block;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navigation */
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-action__login,
.nav__item .nav__link {
    font-weight: 300;
    line-height: 1.75;
    color: #C9D2DA;
}

.nav__item .nav__link {
    padding: 4px 21px;
}

.nav__item .nav__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}

.nav__item .nav__link--active,
.nav__item .nav__link:hover {
    font-weight: 400;
    color: #FFFFFF;
}

/* Actions */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 28px;
}

.header-action__signup {
    min-width: 104px;
    line-height: 1.75;
    font-size: 1.6rem;
    padding: 8px 20px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    width: 517px;
}

.hero__left--desc {
    margin: 22px 0 38px 0;
}

.hero-contact {
    display: flex;
    align-items: center;
}

.hero-btn {
    padding: 15px 46px;
}

.hero-numberphone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
    margin-left: 38px;
}

.hero__media {
    width: 534px;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

